<div class="user-details">
  <div *ng-if="!user">No user found</div>

  <div *ng-if="user">
    <h1>User Details</h1>
    <!-- router-link directive does not work on child accessed
         through a router-outlet but does on regular child components.
     -->
    <!-- <p>
      <a [router-link]="['./user-edit', { username: user.username }]">Edit</a>
    </p> -->
    <p>
      Firstname: {{ user.name.first }}
    </p>
    <p>
      Lastname: {{ user.name.last }}
    </p>
    <p>
      <img src="{{ user.picture.medium }}" alt="" />
    </p>
  </div>
</div>
