<h1>Users</h1>

<div *ng-if="loading">Loading users data</div>

<div *ng-if="!loading">
  <button type="button"
          loading
          [loading-text]="'Loading more...'"
          [loading-more]="usersService.loading"
          (sample-custom-event)="eventHandler($event)"
          (click)="usersService.getMoreUsers()">Load More Users</button>

  <a [router-link]="['./user-create']">Create user</a>

  <users-list [users]="usersService.usersCache"></users-list>

  <router-outlet></router-outlet>
</div>
